* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.categories {
    position: relative;
    padding: 153px 0 153px 0;
    min-height: 622px;
}

.categories__title {
    position: relative;
    z-index: 1;
    color: #201714;
    font-family: 'Impact';
    font-size: 40px;
    font-weight: 400;
}

.categories__divider {
    width: 88px;
    height: 4px;
    margin-top: 8px;
    border-radius: 99px;
    background: #FFCC01;
}

.categories__cards {
    display: flex;
    margin-top: 68px;
    justify-content: space-between;
    align-items: center;
}

.categories__card {
    position: relative;
    overflow: hidden;
    width: 376px;
    height: 188px;
    border-radius: 16px;
    border: 2px solid #79C800;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
}

.categories__card-focused {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(121, 200, 0, 0.40);
}

.categories__card:hover {
    cursor: pointer;
}

.categories__card-img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.categories__card-img_hide {
    display: none;
}

.categories__card-title {
    position: absolute;
    z-index: 2;
    left: 16px;
    bottom: 16px;
    color: #201714;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}

.sheet-parallax__img {
    position: absolute;
    z-index: 0;
    top: 77px;
    transition: all 0.1s ease;
}

.sheet-parallax__img:nth-child(2) {
    position: absolute;
    top: 435px;
    right: 30%;
}

.decor__img {
    position: absolute;
}

.decor__img:nth-child(1) {
    top: 0;
    left: calc(70% - 121px);
}

.decor__img:nth-child(2) {
    top: 11px;
    right: 0px;
}

.decor__img:nth-child(3) {
    top: calc(99% - 114px);
    left: 6px;
}

@media (max-width: 1700px) {
    .container {
        max-width: 1340px;
    } 
    .categories__card {
        width: 310px;
        height: 170px;
    }
    .categories__card-img {
        width: 210px;
        height: 119px;
    }
    .categories__card-title {
        font-size: 22px;
    }

    .categories__cards {
        gap: 32px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 1040px;
    } 
    .categories__card {
        width: 376px;
        height: 188px;
    }
    .categories__card-img {
        width: 245px;
        height: 138px;
    }
    .categories__card-title {
        font-size: 24px;
    }

    .categories__cards {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .decor__img:nth-child(2) {
        top: 20%;
        right: 0px;
    }
    .sheet-parallax__img:nth-child(2) {
        position: absolute;
        top: 78%;
        right: 30%;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 840px;
    } 
}

@media (max-width: 992px) {
    .container {
        max-width: 700px;
    } 
    .categories__card {
        width: 310px;
        height: 170px;
    }
    .categories__card-img {
        width: 210px;
        height: 119px;
    }
    .categories__card-title {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 500px;
    } 
    .categories__card {
        width: 376px;
        height: 188px;
    }
    .categories__card-img {
        width: 245px;
        height: 138px;
    }
    .categories__card-title {
        font-size: 24px;
    }
    .decor__img:nth-child(2) {
        top: 30%;
        right: 0px;
    }
    .sheet-parallax__img:nth-child(2) {
        position: absolute;
        top: 85%;
        right: 30%;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 376px;
    } 
    .categories__card {
        width: 376px;
        height: 188px;
    }
    .categories__card-img {
        width: 245px;
        height: 138px;
    }
    .categories__card-title {
        font-size: 24px;
    }
}

@media (max-width: 425px) {
    .categories {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .container {
        max-width: calc(100% - 10px);
    } 
    .categories__card {
        width: 310px;
        height: 170px;
    }
    .categories__card-img {
        width: 210px;
        height: 119px;
    }
    .categories__card-title {
        font-size: 22px;
    }
    .decor__img:nth-child(1) {
        top: 0;
        left: calc(100% - 121px);
    }
    .sheet-parallax__img:nth-child(2) {
        top: 88%;
        right: 15%;
    }
}